#Chart {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.cover{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
}
.cover img{
    position: absolute;
    width: 100%;
    height: 30rem;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;  border-radius: 5px;
    z-index: 0;
}

@media (max-width: 564px) {
  #Chart {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-bottom: -1rem;
  }
 
  .cover img{
    position: absolute;
    width: 90%;
    height: 10rem;
}
}
@media only screen and (min-width:566px) and  (max-width:900px) {
  .cover img{
    height: 20rem;
    margin-bottom: -3rem;

}
}